.app {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 750px;
  padding-top: 64px;
  max-width: 1024px;
  margin: 0 auto;
}
